/* Quitar estilos por defecto que rompen el diseño inyectado */
.fc-v-event {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.fc-timegrid-event-harness {
  padding: 1px 4px;
}

.fc-toolbar-title {
  text-transform: capitalize;
}