:root {
  --bg-surface: #ffffff;
  --bg-app: #f1f5f9;
  
  --cita-green-bg: #dcfce7;
  --cita-green-border: #22c55e;
  
  --cita-blue-bg: #eff6ff;
  --cita-blue-border: #3b82f6;

  --text-primary: #0f172a;
  --text-secondary: #64748b;
  
  --radius-lg: 12px;
  --radius-md: 6px;
  --shadow-sm: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.fc {
  --fc-border-color: #e2e8f0;
  --fc-today-bg-color: #f8fafc;
  --fc-event-bg-color: transparent;
  --fc-event-border-color: transparent;
}
.fc-v-event {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}